<div class="list-consents">
    <mat-table [dataSource]="consentsData">

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container> 

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>
       
        <ng-container matColumnDef="aggrements">
            <mat-header-cell *matHeaderCellDef> Consents given for </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.aggrements}} </mat-cell>
        </ng-container>
       

        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[2, 5, 10, 20]" 
        showFirstLastButtons="true" hidePageSize="true" >
    </mat-paginator>
</div>