.give-consent {
    text-align: center;
    .form-container {
        width: 50%;
        .submit-form-field {
            width: 100%;
        }

        .consent-agreement {
            border: 1px solid black;
            text-align: left;
            padding-left: 0.3rem;
        }
    }
}